*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #ffffff;
    --main-bg-color: #ffffff;
   
}


footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
}

header {
    height: 7vh;
    background-color: var(--main-bg-color);
    border: 1px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin: 10px;

}

nav ul li a {
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;

}

.logo img {
    width: 120px;
    margin: 10px;
    text-align: center;
}
.search{
    margin: 10px;
    display: flex;
    justify-content: center;
}
.search input{
    width: 450px;
    height: 20px;
    border-radius: 5px
}
.btn{
    margin: 0px 15px;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: beige;
    cursor: pointer;
}
main{
    min-height: calc(100vh - 7vh - 12vh);
}
.container{
    background-color: var(--main-bg-color);
}
.ad{
    background-color: var(--main-bg-color);
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
.ad img{
    width: 95vw;
    margin: 20px 20px;
}
.productCard{
    background-color: var(--main-color);
    margin: 40px 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    

}
.products{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 10px 0px;
    padding: 10px;

   

}
.product{
    display: grid;
    text-align: center;
}
.product img{
    width: 200px;



}