*{
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-bg-color: #fff;
}


footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
}

header {
    height: 7vh;
    background-color: var(--main-bg-color);
    border: 1px solid blue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
}

nav ul li {
    margin: 10px;

}

nav ul li a {
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bolder;

}

.logo img {
    width: 120px;
    margin: 10px;
    text-align: center;
}
.search{
    margin: 10px;
}
.search input{
    width: 450px;
    height: 20px;
}
main{
    min-height: calc(100vh - 7vh - 12vh);
}